@inherits LayoutComponentBase

<ErrorBoundary>
    <ChildContent>
        <main class="container-fluid text-light d-flex flex-column">
            @Body
        </main>
    </ChildContent>
    <ErrorContent>@context.Message</ErrorContent>
    <ErrorContent>@context.StackTrace</ErrorContent>
</ErrorBoundary>