@using Microsoft.Extensions.Logging
@using System.Diagnostics
@inject AuthenticationStateProvider authStateProvider

@inject ILogger<Login> logger

@* <AuthorizeView> *@
@* <Authorized> *@
You're In!
@* </Authorized> *@
@* <NotAuthorized> *@
<button @onclick="login" class="btn border rounded-pill">Login</button>
@* </NotAuthorized> *@

@* </AuthorizeView> *@
<div>Login!</div>
@if (errorMessage != null)
{
  <div class="text-danger">@errorMessage</div>
}


@code {

  protected override void OnInitialized()
  {
    Console.WriteLine("login load");
    base.OnInitialized();
  }

  private string? errorMessage;
  private async Task login()
  {
    try
    {
      logger.Log(LogLevel.Information, "login happening");
      Console.WriteLine(". Login");
      await ((Auth0Provider)authStateProvider).LogInAsync();
    }
    catch (Exception e)
    {
      Console.WriteLine(e.Message);
      Console.WriteLine(e.StackTrace);
      errorMessage = e.Message;
    }
  }
}