@page "/"

@inject ImagesService imageService
@inject AppState appState

<HeadContent>
  <style>
    :root {
      --background-image: url(@appState.Image?.ImgUrls?.Full),
        url(@appState.Image?.ImgUrls?.Regular),
        url(@appState.Image?.ImgUrls?.Small);
    }
  </style>
</HeadContent>

<div class="bg-shade @hideShade">
</div>



@code {

  private string hideShade => appState.Image != null ? "hide" : "";


  protected override async Task OnInitializedAsync()
  {
    appState.OnChange += StateHasChanged;
    await imageService.GetInspiringImage();
    await base.OnInitializedAsync();
  }
}